@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    background: #212126;
    -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
}

.navbar-container a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #c0c0c2;
    font-family: 'Roboto', sans-serif;
    padding: 10px 26px;
}
.navbar-container nav a:hover {
    color: #e16e0e;
}

.btn-outline-primary {
    background-color: #2b385b;
    border-color: #2b385b;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

#logo-dark {
    width: 90px;
}

.welcomeMessage {
    color: #fff;
    background-image: url(./img/track.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 800px;
}
.welcomeMessage h1 {
    font-size: 50px;
}
.welcomeMessage p {
    max-width: 300px;
}
.welcomeMessage1 {
    color: #fff;
    opacity: 1;
    width: 50%;
    height: 800px;
}
.welcomeMessage1 img {
    opacity: 0.5;
    max-width: 800px;
}

#imageLogo {
    position: absolute;
    opacity: 1;
}

#container-home {
    font-family: 'Roboto', sans-serif;
    min-width: 585px;
}

#home-footer {
    min-width: 585px;
}
#home-footer h2 span {
    color: #e16e0e;
}

#home-footer h2 {
    color: #c0c0c2;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 1px #e16e0e;
}

#login-form {
    color: #e16e0e;
    transform: translateY(50%);
    width: 300px;
    height: 230px;
    padding-top: 14px;
    background-color: rgba(255, 255, 255, 0.021);
    font-family: 'Roboto', sans-serif;
}

#login-form input {
    background-color: #212126;
}
#login-form button,
#login-form a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

#register-form {
    color: #e16e0e;
    transform: translateY(50%);
    width: 300px;
    height: 365px;
    padding-top: 14px;
    background-color: rgba(255, 255, 255, 0.021);
    font-family: 'Roboto', sans-serif;
}

#register-form input {
    background-color: #212126;
}
#register-form button,
#register-form a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.new-button {
    font-family: 'Roboto', sans-serif;
}

.new-button h1 {
    font-size: 35px;
    color: #fff;
}

.new-button button {
    height: 200px;
    width: 200px;
    color: #fff;
    background-color: #212126;
    border: solid 3px #2b385b;
}

.new-button button i {
    font-size: 60px;
}

.dropdown i {
    color: #e16e0e;
    font-size: 100px;
    transition: 0.3s;
}
.dropdown i:hover {
    color: #2b385b;
    transition: 0.3s;
}

.container-3 img {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    width: 50%;
}

#table {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
table thead {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: solid 1px #e16e0e;
}

#student-panel {
    height: 596px;
}

.formReg input,
.formReg select {
    background-color: #212126;
}
